.language_title {
    display: flex;
    margin-left: 10px;
    padding: 10px 0px;
}

.MuiSvgIcon-root {
    width: 150%;
}

.language_title p {
    position: relative;
    padding-left: 7px;
    cursor: pointer;
}

.language_div button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 30px;
    width: 10px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    /* justify-content: start; */
    display: flex;
    position: relative;
    cursor: pointer;
}

.language_options {
    display: none;
    width: inherit;
    padding-top: 10px;
}

.language_div:hover .language_options{
    display: block;
}

.language_div p {
    margin: auto;
    /* vertical-align: middle; */
}

.language_flag {
    width: 40px;
    margin: auto;
    padding: 0px 10px;
}