.react-card-flip,
.card_about,
.card_back,
.card_front {
    width: 200px;
    height: 250px;
}

.react-card-flip,
.card_about {
    /* margin: 0px 50px 0px 0px; */
}

.card_back {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    border: solid;
    border-color: rgb(85,53,92);
    border-width: 1px;
}