.footer {
    width: 100%;
    background-color: rgb(245, 245, 245, 1);
    border-top: solid rgb(126, 122, 122) 1px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.footer_top {
    display: flex;
}
.footer_bottom {
    background-color: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_media {
    margin: 40px;
    width: 600px;
}
.footer_sm_title {
    display: grid;
    width: 300px;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 15px;
}
.footer_sm_body {
    display: grid;
    grid-template-columns: repeat(2, 230px);
}
.social span {
    color: rgb(0, 0, 0);
    margin-left: 10px;
} 
a.social {
    margin: 0 1.5rem;
    transition: transform 250ms;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: color 0.4s;
    color: black;
    opacity: 0.8;
}

a.social:hover {
    color: rgba(110, 110, 110, 0.8);
}

/* MESSAGE FOOTER */

.footer_message {
    display: flex;
    margin-left: 80px;
}
.cards_icon {
    margin: auto;
    transform: rotate(15deg);
    height: 130px;
}
.meditation_icon {
    height: 190px;
    margin: auto;
    margin-left: 50px;
}
.footer_message_text {
    text-align: left;
    font-size: 20px;
    margin: auto;
    margin-left: 50px;
}



/* MOBILE */
@media (max-width: 869px) {
    .footer_top {
        margin-top: 20px;
        display: block;
    }
    .social_media {
        width: 280px;
        margin: 0px auto;
    }
    .footer_sm_title,
    a.social {
        margin-left: 0px;
    }
    .footer_sm_title {
        width: 100%;
    }
    .footer_sm_body {
        display: block;
        width: 100%;
    }
    /* MESSAGE */
    .footer_message {
        display: block;
        margin: 0px;
    }
    .footer_message_text {
        width: 90%;
        text-align: center;
        margin: auto;
        font-size: 17px;
    }
    .cards_icon, 
    .meditation_icon {
        height: 90px;
        margin: 0px;
    }

}

/* SMALL SCREEN */

@media (min-width: 870px) and (max-width: 1200px) {
    .social_media {
        width: 300px;
    }
    .footer_sm_body {
        display: block;
    }
    .footer_message {
        margin: 0px auto;
    }
    .footer_message_text {
        margin-left: 20px;
        font-size: 17px;
    }
    .cards_icon,
    .meditation_icon {
        margin-left: 0px;
        height: 120px;
    }
}